<div class="footer-container">
	<div class="footer-content">	
		<div class="footer-content-element">
			<h4 class="footer-element-title"> Social </h4>
			Link Youtube <br>
			Link pro Facebook
		</div>
		<div class="footer-content-element">
			<h4 class="footer-element-title"> Contato </h4>
			aprendesim@gmail.com
		</div>
		<div class="footer-content-element">
			<h4 class="footer-element-title"> Sites Recomendados </h4>
			Outro Blog <br>
			Blog legal
		</div>
	</div>
	<div class="footer-aprendesim-creator">
		Criado por Lucas Andrade <div class="heart-solid icon"></div>
	</div>
</div>