<div class="footer-container">
	<div class="footer-content">	
		<div class="footer-content-element">
			<h4 class="footer-element-title"> Social </h4>
			<%= link_to '<i class="fa fa-youtube-square fa-3x"></i>'.html_safe, "https://www.youtube.com/channel/UCF92CE9BQXE-i7bie1X6MAA" %> <br>
			<%= link_to '<i class="fa fa-facebook-square fa-3x"></i>'.html_safe, "http://www.facebook.com" %>
		</div>
		<div class="footer-content-element">
			<h4 class="footer-element-title"> Contato </h4>
			aprendesim@gmail.com
		</div>
		<div class="footer-content-element">
			<h4 class="footer-element-title"> Sites Recomendados </h4>
			Outro Blog <br>
			Blog legal
		</div>
	</div>
	<div class="footer-aprendesim-creator">
		Criado por Lucas Andrade <div class="heart-solid icon"></div>
	</div>
</div>