<div class="page-about-container">
	<h1 class="posts-index-title">Sobre o Aprende Sim</h1>
	<div class="page-about-subcontainer">
		<p class="page-about-text">
			O Aprende Sim é um blog criado para divulgação de estudos. Surgiu com a ideia de divulgar resumos e conteúdos desenvolvidos na universidade. Sempre tem aquele conteúdo difícil de conseguir, que muitas vezes é bem chato de encontrar nos livros e até mesmo na internet e por fim conseguimos algum exercício resolvido ou algum resumo interessante em um site ou blog do exterior mesmo. Por que não simplificar e trazer conteúdos de qualidade de forma simples pros universitários brasileiros também? 
		</p>
		<p class="page-about-text">
			Seguindo essa ideia que surge o Aprende Sim. Que tem como objetivo principal explicar conteúdos e conceitos como se fossem pequenos resumos feito por alunos mesmo. Por as postagens do blog são quase sempre bem curtas e objetivas. A ideia é que você encontre logo o que está procurando e resolve seu problema pra continuar logo os estudos, afinal você deveria perder tanto tempo assim procurando conteúdos e explicações na internet não é mesmo? É muito melhor (ou menos pior kk) gastar seu tempo praticando com exercícios sobre o conteúdo estudado.
		</p>
		<p class="page-about-text">
			O blog foi idealizado é criado por Lucas Andrade, e aqui em autores você pode ver quem ajuda a escrever nessa site maravilhoso.<br>
			<%= link_to "Autores", authors_path %>
		</p>
	</div>
</div>