<%# <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
<ul id="slides" class="home-carousel-slides">
	<li class="slide showing">
		<h1 class="slide-text home-page-title"> Bem vindo ao Aprende Sim </h1>
		<img src="http://i.imgur.com/nfRnVUt.jpg" width="100%" height="450px" class="slide-image home-image-slide1">
	</li>
	<li class="slide">	
	<div class="home-container-slide2">
		<h2 class="slide-text home-slide2-text">
			Aprende Sim é um blog focado em postagens rápidas, <br> <br>
			assim você pode resolver sua dúvida/problema rapidinho e já voltar pro trabalho/estudos!
		</h2>
		<img src="http://i.imgur.com/hyaL3VN.jpg" width="100%" height="350px" class="slide-image home-image-slide2">
	</div>
	</li>
</ul>
<img src="https://i.imgur.com/by0HZ4r.jpg" width="108%" height="100%" class="home-image-mobile">
<img src="https://i.imgur.com/i4GL4YG.jpg" width="108%" height="100%" class="home-image-tablet"> %>
<h1 class="posts-index-title">Últimos Posts</h1>
<%= render 'posts/posts_all' %>

<script type="text/javascript">
	var slides = document.querySelectorAll('#slides .slide');
	var currentSlide = 0;
	var slideInterval = setInterval(nextSlide,7000);
	function nextSlide(){
		slides[currentSlide].className = 'slide';
		currentSlide = (currentSlide+1)%slides.length;
		slides[currentSlide].className = 'slide showing';
	}
</script>