<div class="author">
	<% if @author.photo != '' && @author.photo != nil %>
	  <%= image_tag @author.photo, class: 'author-photo' %>
	<% else %>
	<% end %>
</div>
<div class="author author-info"> 
	por: <%= @author.name %><br>
	em: <%= @post.created_at.strftime("%d / %m / %Y") %>
</div>
