// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categories-title {
	font-size: 300%; text-align: center; color: #1E90FF;
}
.category-group-container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50%;
}
.category-single-container {
	padding: 1% 5%;
	margin: 1.5% 4%;
	width: 14%;
	text-align: center;
	font-size: 120%;
	float: left;
	border-radius: 4px;
	transition: .3s;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.category-single-container:hover {
	background-color: #1E90FF;
	cursor: pointer;

	.category-name {
		color: white;
	}
}
.category-name {
	text-decoration: none; color: black;
}

/* Categories Responsive */
@media only screen and (max-width:750px) {
	.category-group-container {
		width: 85%;
		height: 500px;
	}
	.category-single-container {
		width: 32%;
	}
	.category-name {
		font-size: 80%;
	}
}
@media only screen and (max-width:640px) {
	.category-single-container {
		width: 32%;
	}
	.category-group-container {
		width: 95%;
	}
}
@media only screen and (max-width:450px) {
	.category-single-container {
		width: 32%;
	}
	.categories-title {
		font-size: 150%;
	}
	.category-name {
		font-size: 60%;
	}
}