$icons-color: #f5f5f5e7;
$blue-details: #2db4d6;
.vertical-menu {
  width: 20%;
  margin-left: 0;
  position: fixed;
  height: 100%;
  background-color: #2C2C2F;
  color: #fff
}
.application-container {
  width: 80%;
  margin-right: 0;
  height: 2000px;
}
.profile-image {
  border-radius: 50%;
  width: 60%;
  margin-top: 10%;
  margin-left: 20%;
}
.vertical-menu-links {
  margin-top: 10%;
  padding: 3% 0%;
  background-color: #0e101e;
  text-align: center;
}
@mixin icons-default {
  font-size: 170%;
  color: $icons-color;
}
.fa.fa-folder {
  margin-top: 5%;
  padding-right: 3%;
  padding-left: 10%;
  color: $icons-color;
}
.fa.fa-home {
  @include icons-default;
  margin-right: 5%;
}
.fa.fa-user {
  @include icons-default;
  margin-left: 5%;
}
.fa.fa-angle-down {
  font-weight: 900;
  font-size: 110%;
  margin-left: 40%;
  color: $icons-color;
}
.fa.fa-home:hover, .fa.fa-user:hover {
  color: #2db4d6;
}
.post-icon {
  padding-left: 18%;
  max-width: 20px;
  max-height: 20px;
}
/*
MENUS DROP DOWNS
https://codepen.io/daniesy/pen/pfxFi
https://codepen.io/sazzad/pen/pqlgy
*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4b4949;
  width: 100%;
  overflow: auto;
  color: #fff;
  z-index: 1;
}
.dropdown-content a {
  color: #fff;
  font-size: 80%;
  text-decoration: none;
  display: block;
  padding-left: 3%;
}
.dropdown-content a:hover {
  color:$blue-details;
}
.dropdown-element {
  display: flex;
  padding: 2% 3%;
}
.show {
  display:block;
}
.navbar-posts {
  background: transparent;
  border: none;
  width: 100%;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2%;
}
.navbar-posts:hover {
  color: $blue-details;
  .fa.fa-folder {
    color: $blue-details;
  }
  .fa.fa-angle-down {
    color: $blue-details;
  }
}
.navbar-toggle-button {
  display: block;
}

/* Navbar vertical Tablet */

/* Navbar vertical Tablet mobile toggle logic */
/* From https://codepen.io/jaflo/pen/hjuai */
@media only screen and (max-width:1070px) {
  .vertical-menu {
    display: none;
    z-index: 1;
    width: 40%;
  }
  .navbar-toggle-button {
    position: fixed;
    z-index: 2;
    margin-top: 5%;
    margin-left: 5%;
    display: true;
    cursor: pointer;
    width: 28px;
    height: 30px;
    background-color: #1e8fffd7;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
  }
  
  .navbar-toggle-button div {
    height: 5px;
    background: white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  .navbar-toggle-button.on {
    margin-left: 35%;
  }
  .navbar-toggle-button{
    transition: all 0.6s;
  }
  .navbar-toggle-button.on .one {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .navbar-toggle-button.on .two {
    opacity: 0;
  }
  .navbar-toggle-button.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }
}