// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	font-family: 'Hind', sans-serif; font-size: 110%;
}
body {
	margin: 0; overflow-x: hidden;
}
.body-container {
	margin-left: 1%;
	margin-right: 1%;
}
@media only screen and (max-width:750px) {
	.body-container {
		margin-top: 15%;
		margin-left: 4%;
		margin-right: 4%;
	}
}
@media only screen and (max-width:470px) {
	.body-container {
		margin-top: 25%;
	}
}
/* About */
.page-about-container {
	margin-top: 3%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.page-about-subcontainer {
	padding-left: 3%;
	border-left: solid 5px #1e90ff;
}
.page-about-text {
	text-align: justify;
	text-indent: 3%;
	color: #3d3d3d;
	line-height: 1.7em;
}

/* Footer */
.footer-container {
	bottom: 0;
	width: 100%;
	background-color: #2C2C2F;
	margin-top: 6%;
	margin-bottom: 0;
}
.footer-content {
	width: 75%;
	height: 320px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	color: white;
	display: flex;
}
.footer-content-element {
	width: 32%;
	text-align: center;
}
.footer-element-title {
	font-size: 120%;
	border-bottom: solid 2px #2DB4D6;	
}
.footer-aprendesim-creator {
	text-align: left;
	bottom: 0;
	width: 75%;
	color: white;
	padding-left: 12%;
	text-indent: 25px;
	padding-bottom: 3%;
	display: flex;
}
.fa-youtube-square,.fa-facebook-square {
	text-decoration: none;
	color: white;
}

/* Home page Carousel
essential styles: these make the slideshow work
*/
#slides{
	position: relative;
	height: 340px;
	padding: 0px;
	margin: 0px;
	width: 102%;
	margin-left: -1%;
	list-style-type: none;
}
.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 90%;
	opacity: 0;
	z-index: 1;
	-webkit-transition: opacity 1s; -moz-transition: opacity 1s;-o-transition: opacity 1s;
	transition: opacity 1.5s;
}
.showing{ opacity: 1;z-index: 2; }
.home-page-title {
	text-align: center;
	font-size: 210%;
}
.home-page-subtitle {
	font-size: 120%;
	text-align: center;
}
/*
non-essential styles:
just for appearance; change whatever you want
*/
.slide{
	background: #333;
	color: #fff;
}
.slide:nth-of-type(1){
	background: red;
}
.slide:nth-of-type(2){
	background: orange;
}
.slide:nth-of-type(3){
	background: green;
}
.slide:nth-of-type(4){
	background: blue;
}
.slide:nth-of-type(5){
	background: purple;
}

/* Heart Icon */
.heart-solid.icon {color: #2DB4D6;position: absolute;margin-top: 6px;margin-left: 5px;width: 9px;height: 9px;border-left: solid 1px currentColor;border-bottom: solid 1px currentColor;background-color: currentColor;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.heart-solid.icon:before {content: '';position: absolute;top: -5px;left: -1px;width: 8px;height: 5px;border-radius: 5px 5px 0 0;border-top: solid 1px currentColor;border-left: solid 1px currentColor;border-right: solid 1px currentColor;background-color: currentColor;}
.heart-solid.icon:after {content: '';position: absolute;top: 0px;left: 8px;width: 5px;height: 8px;border-radius: 0 5px 5px 0;border-top: solid 1px currentColor;border-right: solid 1px currentColor;border-bottom: solid 1px currentColor;background-color: currentColor;}
