// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html {
	font-family: 'Hind', sans-serif; font-size: 110%; overflow-x: hidden
}
body {
	margin: 0; overflow-x: hidden;
}
.body-container {
	margin-left: 1%;
	margin-right: 1%;
}
@media only screen and (max-width:750px) {
	.body-container {
		margin-top: 15%;
		margin-left: 4%;
		margin-right: 4%;
	}
}
@media only screen and (max-width:470px) {
	.body-container {
		margin-top: 25%;
		margin-left: 3%;
		margin-right: 3%;
	}
}
/* About */
.page-about-container {
	margin-top: 3%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.page-about-subcontainer {
	padding-left: 3%;
	border-left: solid 5px #1e90ff;
}
.page-about-title {
	font-size: 200%;
	text-decoration: none;
	color: #1E90FF;
	text-align: center;
}
.page-about-text {
	text-align: justify;
	text-indent: 3%;
	color: #3d3d3d;
	line-height: 1.7em;
}
/* About Responsive */
@media only screen and (max-width:470px) {
	.page-about-title { font-size: 120%; }
	.page-about-container { width: 92%; }
}

/* Footer */
.footer-container {
	bottom: 0;
	width: 100%;
	background-color: #2C2C2F;
	margin-top: 6%;
	margin-bottom: 0;
}
.footer-content {
	width: 75%;
	height: 320px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	color: white;
	display: flex;
}
.footer.content-responsive {
	display: none;
}
.footer-content-element {
	width: 32%;
	text-align: center;
}
.footer-element-title {
	font-size: 120%;
	border-bottom: solid 2px #2DB4D6;	
}
.footer-aprendesim-creator {
	text-align: left;
	bottom: 0;
	width: 75%;
	color: white;
	padding-left: 12%;
	text-indent: 25px;
	padding-bottom: 3%;
	display: flex;
}
.footer-element-social-links {
	display: block;
}
.footer-social-link {
	width: 100%;
	display: block;
}
.fa-youtube-square,.fa-facebook-square {
	text-decoration: none;
	color: white;
}
/* Footer Mobile */
@media only screen and (max-width:750px) {
	.footer-element-title {
		font-size: 100%;
		border-bottom: none;
		border-top: solid 1px #2DB4D6;	
	}
	.footer-content {
		width: 100%;
		display: block;
		height: 500px;
	}
	.footer-container {
		width: 100%;
	}
	.footer-content-element {
		width: 100%;
	}
	.footer-aprendesim-creator {
		width: 95%;
		padding-left: 15%;
		text-indent: 10%;
		padding-bottom: 10%;
	}
	.footer-element-title {
		padding-top: 5%;
	}
	.footer-element-social-links {
		display: flex;
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
}
/* Home page Carousel */
.slide-image {
	height: 305px;
	position: relative;
}
.home-image-slide1 {
	opacity: 0.5;
	-webkit-filter: hue-rotate(100deg); filter: hue-rotate(910deg);
}
.home-image-slide2 {
	float: right;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
#slides{
	position: relative;
	height: 340px;
	padding: 0px;
	margin: 0px;
	width: 102%;
	margin-left: -1%;
	list-style-type: none;
}
.home-image-mobile {
	display: none;
}
.home-image-tablet {
	display: none;
}
.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 90%;
	opacity: 0;
	z-index: 1;
	-webkit-transition: opacity 1s; -moz-transition: opacity 1s;-o-transition: opacity 1s;
	transition: opacity 1s;
}
.showing{opacity:1;z-index:2;}
.slide-text {
	position: absolute;
	z-index: 1;
	color: black;
	text-shadow: 2px 1px white;
	font-family: 'Syncopate', sans-serif;
}
.home-page-title {
	padding-left: 5%;
	font-size: 300%;
}
.home-page-subtitle {
	padding-top: 10%;
	padding-left: 3%;
	font-size: 160%;
	line-height: 1.8;
}
.home-slide2-text {
	color: black;
	padding-left: 5%;
	width: 60%;
}
.slide3-text1 {
	width: 27%;
	padding-left: 3%;
}
.slide3-text2 {
	padding-top: 6%;
	width: 27%;
	padding-left: 3%;
}
.slide{
}
.slide:nth-of-type(1){}
/* Heart Icon */
.heart-solid.icon:after,.heart-solid.icon:before{content:'';border-top:solid 1px currentColor;border-right:solid 1px currentColor}.heart-solid.icon,.heart-solid.icon:after,.heart-solid.icon:before{position:absolute;background-color:currentColor}.heart-solid.icon{color:#2DB4D6;margin-top:6px;margin-left:5px;width:9px;height:9px;border-left:solid 1px currentColor;border-bottom:solid 1px currentColor;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.heart-solid.icon:before{top:-5px;left:-1px;width:8px;height:5px;border-radius:5px 5px 0 0;border-left:solid 1px currentColor}.heart-solid.icon:after{top:0;left:8px;width:5px;height:8px;border-radius:0 5px 5px 0;border-bottom:solid 1px currentColor}

/* Home page mobile */
@media only screen and (max-width:900px) {
	.home-carousel-slides {
		display: none;
	}
	.home-image-tablet {
		display: block;
		opacity: 0.8;
		margin-top: 0%;
		margin-left: -4%;
	}
}

@media only screen and (max-width:745px) {
	.home-image-tablet {
		margin-top: -3%;
	}
}

@media only screen and (max-width:385px) {
	.home-image-mobile {
		display: block;
		margin-left: -4%;
		margin-top: -8%;
	}
	.home-image-tablet {
		display: none;
	}
}