// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Posts show */
.post-title {
	font-size: 450%;
	text-align: center;
}
.post-author {
}
.post-categories {
}
.post-info {
	margin-left: auto;
	margin-right: auto;
	width: 45%;
	display: flex;
	color: #a8a8a8;
}
.post-categories {
	margin-left: 15%;
}
.post-category {
	margin-top: 5%;
}
.subinfo{
	width: 45%;
}
.post-body-container {
	width: 80%;	
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
	display: flex;
}
.post-body {
	width: 70%;
	text-align: justify;
}
.post-right-bar {
	width: 30%;
	height: 30%;
}
.right-bar-categories {
	max-height: 100%;
	margin-left: 14%;
	width: 100%;
	padding-left: 5%;
	border-left: solid 5px #1e90ff;
}

/* Post body style */
.post-text-p {
	text-indent: 8%;
	color: #3d3d3d;
	line-height: 1.7em;
}

/* Author partial */
.author {
	display: inline-block;
	height: 100%;
}
.author-name {
	color: #1E90FF;
}
.author-info {
	height: 100%;
	padding-left: 5%;
}
.author-photo {
	border-radius: 50%;
	width: 65px;
	height: 65px;

}
/* Posts index */
.posts-index-title {
	font-size: 200%;
	text-decoration: none;
	color: #1E90FF;
	text-align: center;
}

/* Posts all Partial */
.posts-all-title {
	font-size: 150%;
	text-decoration: none;
	color: #1E90FF;
	text-align: center;
}
.posts-all-container {
	display: flex;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.posts-all-subcontainer {
	width: 60%;
	margin-left: 10%;
}
.single-post {
	border-bottom: solid 1px #b5b5b5;
	padding-bottom: 7%;
}
.posts-most-views {
	margin-left: 14%;
	padding-left: 5%;
	border-left: solid 5px #FA6900;
}
.posts-all-visits {
	font-weight: bold;
	margin-top: 5%;
	text-align: right;
}
.post-front-image {
	width: 28%;
	margin-right: 3%;
	float: left;
}
.posts-all-intro {
	padding-top: 1%;
	text-align: justify;
	color: #4F3D3D;
	text-decoration: none;
}
.post-views-title {
	font-size: 80%;
	color: #1E90FF;
	text-align: left;
}
.post-categories-name {
	color: #1E90FF;
}
.post-date {
	font-weight: bold;
}

@media only screen and (max-width:800px) {
	.posts-all-container {
		display: block;
		width: 100%;
	}
	.posts-all-subcontainer {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	.posts-all-title {
		font-size: 130%;
		width: 100%;
	}
	.post-right-bar {
		width: 60%;
		margin-bottom: 5%;
	}
	.posts-all-title-mobile {
		text-align: center;
	}
	/* Tamanho da imagem:  279px (largura/width) x 159 px(altura/width) */
	.post-front-image {
		width: 98%;
	}	
	.posts-all-visits {
		margin-top: 0;
	}
	.posts-index-title {
		margin-bottom: 0;
		font-size: 190%;
	}
	.single-post {
		padding-bottom: 15%;
	}
}