<h1 class="categories-title">Categorias</h1>
<div class="category-group-container">
	<% @categories.each do |category| %>
		<div class="category-single-container">
			<%= link_to category.name, subcategories_show_all_path(category), class: 'category-name' %>
		</div>
	<% end %>
</div>
